*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #fffde1
#FFF89A */
body{
    width: 100vw;
    height: 100vh;
    background: #fffde1;
    font-family: dm sans;

    /* margin-top: 70px; */
}

.btvoltar-para-cima{
    position: fixed;
    bottom: 0;
    left: 0;

    margin: 30px;
    padding: 10px 13px;
    background-color: #dbdbdb;
    border-radius: 60%;
}

/* ==================================================================== */
/* ==============HEADER================== */
header{
    background: #ffffffe9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 8;
    backdrop-filter: blur(3px);
    box-shadow: 0 1px 5px #00000038;
}
.logotipo{
    display: flex;
}
.logotipo .logoname{
    display: none;
}
/* .logoicon{
    display: flex;
    align-items: center;
    flex-direction: column;
} */
.headerinteract{
    display: flex;
    justify-content: space-around;
    gap: 25px;
}
.headerinteract > p{
    margin-left: 10px;
}

/* ==============HEADER================== */
.menulateral{
    background-color: #f1f0dd;
    width: 40vw;
    height: 120%;
    padding: 10px;
    position: fixed;
    top: 0;
    transform: translateX(150%);
    padding-top: 5rem;
    z-index: 4;
}
.menulateral .menulat-produtos{
    margin-top: 20px;
}
[class^="menulat-"] p{
    font-family: Cormorant Unicase;
    font-weight: 500;
    font-size: 1.25rem;
}
.menulateral div{
    margin: 30px 0;
}
[class^="menulat-"] nav ul{
    list-style: none;
}
.menulateral [class^="menulat-"] nav ul a li{
    margin: 10px 0;
    font-family: fredoka;
    font-size: 14px;
}



/* ==================================================================== */
/* ==============TELA INICIAL================== */
/* ==========NOVODADES============= */
.telainicial .novidades-part{
    background: #fff;
}